.college {
    color: red;
    font-size: 14px;
}

.uni {
    color: silver;
    font-size: 14px;
}

.business {
    color: grey;
    font-size: 14px;
}

.uml {
    color: gold;
    font-size: 20px;
}
