#cars {
    font-family: monospace;
    font-size: 14px;
    color: black;
}

#trucks {
    font-family: arkhip, sans-serif;
    font-size: 14px;
    color: blue;
}

#suvs {
    font-family: fantasy, serif;
    font-size: 14px;
    color: green;
}
