#demo {
    text-align: center;
    font-size: 20px;
    margin-top: 0px;
    color: white;
    font-family: arkhip, sans-serif;
}

.container {
    background-color: #333;
    padding: 25px;
    max-width: 600px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 15%;
}
