p1 {
    font-family: 'Modak', cursive;
}

p2 {
    font-family: 'Titillium Web', sans-serif;
}

p3 {
    font-family: 'Anton', sans-serif;
}

p4 {
    font-family: 'Indie Flower', cursive;
}

p5 {
    font-family: 'Righteous', cursive;
}
